.dark-mode{
    background-color: black;
    color: white;
}


.dark-mode p{
    color: white;
}

.dark-mode #postCard{
    background-color: #181818;
}

.dark-mode #username{
    color: white;
}

#darkButton{
    float: right;
}
