/* Global CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body {
  @apply bg-lightBackground text-lightMainText; /*Light Mode */
 }
 
 .dark body{
  @apply bg-darkBackground text-darkMainText; /*Dark Mode*/
 }
 
.ssu-page-container {
  @apply min-h-screen pl-64 bg-lightBackground text-lightMainText dark:bg-darkBackground dark:text-darkMainText;
}


.ssu-button-bold {
  @apply px-4 py-1 mt-1 mb-1 ml-1 mr-1 font-normal text-white rounded bg-violet-500 dark:text-black hover:bg-violet-600;
}

.ssu-button-primary {
  @apply px-2 py-1 mt-1 mb-1 ml-1 mr-1 font-bold text-white bg-orange-500 rounded font-menu dark:bg-orange-500 hover:bg-orange-600;
}

.ssu-button-disabled {
  @apply font-menu bg-orange-500 dark:bg-orange-500 text-white font-bold py-1 px-2 rounded mr-1 ml-1 mt-1 mb-1 opacity-50 cursor-not-allowed;
}

.ssu-button-caution {
  @apply font-menu bg-red-500 dark:bg-red-500 text-white font-bold py-1 px-2 rounded hover:bg-red-600 mr-1 ml-1 mt-1 mb-1;
}


.ssu-button-info-clickable {
  @apply px-1 py-1 mt-1 mb-1 ml-1 mr-1 font-normal text-gray-800 border-gray-100 border-solid rounded bg-gray-50 dark:bg-gray-700 dark:text-white hover:bg-violet-800;
}

.ssu-button-info {
  @apply px-1 py-1 mt-1 mb-1 ml-1 mr-1 font-normal text-gray-800 bg-white border border-gray-200 rounded dark:bg-gray-800 dark:text-white;
}

.ssu-text-tinyright {
  @apply mt-1 text-right mr-[15px] text-[0.8rem]  text-lightMainText dark:text-darkMainText break-words;
}

.ssu-text-normalsmall {
  @apply text-sm break-words text-lightMainText dark:text-darkMainText;
}

.ssu-text-normalmedium {
  @apply text-sm break-words text-lightMainText dark:text-darkMainText ;
}

.ssu-text-titlesmall {
  @apply text-lg font-semibold text-lightMainText dark:text-darkMainText;
}

.ssu-text-titlesmalllight {
  @apply text-lg font-normal text-lightMainText dark:text-darkMainText;
}

.ssu-textlink-bold {
  @apply text-sm font-semibold no-underline text-lightMainText dark:text-darkMainText hover:text-orange-500;
}


.ssu-post-list {
  @apply min-h-screen p-0 m-0 bg-white dark:bg-gray-800;
}

.ssu-post-card {
  @apply w-[520px] max-w-sm py-5 px-2 m-0 bg-white dark:bg-gray-800 border-b-2 mt-3 border-gray-200 dark:border-gray-700;
}

.ssu-post-img {
  @apply rounded-lg;
}

.ssu-post-list {
  @apply flex flex-col items-center p-0 m-0;
}

.a {
  @apply  text-lightMainText dark:text-darkMainText hover:underline;
}

/* Navbar */
.nav {
  @apply fixed top-0 z-50 flex items-center justify-between w-full px-6 py-3 bg-white shadow-sm;
}

.nav a {
  @apply font-semibold text-lightMainText dark:text-darkMainText;
}

.nav-logo {
  @apply text-xl font-bold text-lightMainText dark:text-darkMainText;
}

.ssu-nav-link {
  @apply py-2 pl-4 mb-4 text-lg no-underline transition duration-200 rounded-lg cursor-pointer text-lightMainText dark:text-darkMainText font-menu hover:bg-orange-600 hover:text-white;}

.ssu-nav-filter-btn {
  @apply pb-2 text-sm font-bold text-gray-500 dark:text-white font-menu hover:border-b-2 hover:border-orange-500;
}

.ssu-nav-filter-btn-selected {
  @apply text-sm text-orange-500 font-menu border-b-2 font-bold border-orange-500 pb-2
}

.ssu-nav-filter-count {
  @apply inline-flex items-center justify-center w-7 h-7 ml-2 text-center text-xs font-medium text-white bg-orange-500 rounded-full group-hover:bg-gray-800
}


/* Sidebar Navbar */
.sidebar-navbar {
  @apply fixed top-0 left-0 z-50 w-40 h-full bg-white shadow-lg dark:bg-gray-900; /* Adjust the height if needed */
  overflow-y: auto; /* Enable scrolling if content overflows */
  display: flex;
  flex-direction: column; /* Stack items vertically */
}


.bg-cream {
  background-color: #F5F5DC; /* Adjust to your desired cream color */
}

/* Sidebar */
.sidebar {
  @apply fixed top-0 w-64 h-screen px-4 py-6 shadow-lg bg-lightBackground dark:bg-darkBackground;
}

.sidebar-item {
  @apply flex items-center px-6 py-4 text-lg transition duration-200 rounded-lg text-lightMainText dark:text-darkMainText hover:bg-gray-700; /* Increased padding and font size */
}

.sidebar-item svg {
  @apply w-6 h-6 mr-2;
}

/* Feed Section */
.feed {
  @apply w-full max-w-2xl pt-20 mx-auto mb-20;
}

.post {
  @apply p-4 mb-6 bg-white rounded-lg shadow-md;
}

.post-header {
  @apply flex items-center mb-2;
}

.post-header img {
  @apply w-10 h-10 mr-3 rounded-full;
}

.post-header .name {
  @apply font-semibold text-lightMainText dark:text-darkMainText;
}

.post-header .username {
  @apply  text-lightMainText dark:text-darkMainText;
}

.post-body {
  @apply  text-lightUserText dark:text-darkUserText;
}

.post-actions {
  @apply flex items-center justify-between mt-4 text-lightMainText dark:text-darkMainText;
}

.post-actions button {
  @apply flex items-center space-x-1 text-sm hover:text-blue-500;
}

/* Buttons */
.button-primary {
  @apply px-4 py-2 font-semibold text-white transition duration-200 bg-blue-500 rounded-full hover:bg-blue-600;
}

/* Input Fields */
.input-field {
  @apply w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg text-lightMainText dark:text-darkMainText focus:ring-2 focus:ring-blue-400 focus:outline-none;
}

/* Footer */
.footer {
  @apply mt-12 mb-6 text-sm text-center text-lightMainText dark:text-darkMainText;
}

/* Comment Section Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  @apply w-2 h-2; 
  border-radius: 9999px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200;
  border-radius: 9999px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}
/* DarkMode Comment Section Scrollbar */
.custom-scrollbar-dark::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
  @apply bg-orange-500;
  border-radius: 9999px; 
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-600;
}

/* Individual Comment Component Styling */
.ssu-comment-username {
  @apply font-bold no-underline text-lightMainText dark:text-darkMainText;
}

.ssu-comment-timeago {
  @apply text-sm text-lightMainText dark:text-darkMainText;
  margin-left: 5px;
}

.ssu-comment-content {
  @apply text-base text-black dark:text-white;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

/* Comment card background styling */
.custom-comment-card {
  @apply text-black bg-white; 
  box-shadow: none;
}

.dark .custom-comment-card {
  @apply text-white bg-gray-900; 
  box-shadow: none;
}

.ssu-no-comments {
  @apply py-4 text-center text-gray-500;
}

/* "Be the first to comment..." Message Styling */
.comment-input-blank {
  @apply w-full text-base italic text-gray-300 bg-transparent border-none outline-none;
}

.dark .comment-input-blank {
  @apply text-gray-400;
}

/* Comment Section Post Button and comment box */
.comment-input {
  @apply w-full h-10 px-2 py-1 overflow-hidden not-italic text-gray-800 bg-gray-100 border border-gray-300 rounded-lg resize-none dark:bg-white dark:text-black dark:border-gray-600;
}

.comment-input::placeholder {
  @apply italic text-gray-400 dark:text-gray-600;
}

.post-button {
  @apply ssu-button-primary;
}

/* Comment Card Animation Sliding */
@keyframes slide-in-left {
  0% { transform: translateX(-10%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.animate-slide-in-left {
  animation: slide-in-left 0.3s ease-out forwards;
}

@keyframes slide-out-left {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-10%); opacity: 0; }
}

.animate-slide-out-left {
  animation: slide-out-left 0.3s ease-out forwards;
}


/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 9999px; 
}

::-webkit-scrollbar-track {
  background-color: #6b7280;
}

/* form/document styles for edit profile*/


.ssu-form-style{
  @apply w-full max-w-lg p-6 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800;
}

.ssu-modal-style{
  @apply p-6 bg-white rounded-lg dark:bg-gray-800;
}


/* Start - Private User Profile Page Layout*/
.ssu-profilePage-container {
  @apply min-h-screen pl-64 bg-lightBackground text-lightMainText dark:bg-darkBackground dark:text-darkMainText;
}

.profile-header {
  @apply flex items-center justify-between pb-5 mb-10 border-gray-300 dark:border-gray-700;
}

.profile-image img {
  @apply object-cover w-40 h-40 border rounded-full border-iconBorder;
}

.profile-info {
  @apply flex-1 ml-8;
}

.profile-info .username {
  @apply mb-3 text-2xl font-semibold text-lightMainText dark:text-darkMainText;
}

.profile-info .edit-profile-btn {
  @apply px-4 py-2 mb-5 text-sm font-medium border rounded-lg shadow-md cursor-pointer bg-lightBackground text-lightMainText dark:bg-darkBackground dark:text-darkMainText;
}

.profile-stats {
  @apply flex gap-10 text-base text-lightMainText dark:text-darkMainText;
}

.stat-item {
  @apply flex flex-col items-center text-center;
}

.stat-number {
  @apply mt-1 text-right mr-[15px] text-[0.8rem];
}

.stat-label {
  @apply text-lightMainText dark:text-darkMainText;
}

.profile-stats div span {
  @apply mr-2 font-semibold;
}

.profile-bio {
  @apply text-sm leading-6 text-lightUserText dark:text-darkUserText;
}

.profile-posts {
  @apply grid w-full grid-cols-3 gap-4; 
}

.profile-post-item {
  @apply relative w-full h-64 overflow-hidden rounded-lg shadow-md bg-lightBackground dark:bg-darkBackground; /* Set a fixed height for uniformity */
}

.profile-post-item img {
  @apply object-cover w-full h-full; 
}

.profile-post-item p {
  @apply p-4 text-sm text-lightUserText dark:text-darkUserText; 
}

.profile-post-item .post-details {
  @apply p-4 text-sm text-lightUserText dark:text-darkUserText; /* Style for post details such as description */
}

.modal-header, .modal-footer {
  @apply border-none bg-lightBackground dark:bg-darkBackground;
}

.modal-body img {
  @apply w-full h-auto;
}


@media screen and (max-width: 768px) {
  .profile-header {
    @apply flex-col items-center text-center;
  }

  .profile-info {
    @apply mt-5 ml-0;
  }

  .profile-posts {
    @apply grid-cols-2;
  }
}

@media screen and (max-width: 480px) {
  .profile-posts {
    @apply grid-cols-1;
  }

  /* Responsive grid for medium screens (e.g., tablets) */
  @media screen and (max-width: 1024px) {
    .profile-posts {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  /* Responsive grid for small screens (e.g., mobile) */
  @media screen and (max-width: 768px) {
    .profile-posts {
      grid-template-columns: 1fr; 
    }
  }
  
    .profile-image img {
      @apply w-24 h-24;
    }
  }

.toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--main-text-color);
  z-index: 1000;
}

.side-menu {
  @apply fixed top-0 right-0 h-full w-64 bg-lightBackground dark:bg-darkBackground shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-[999];
}

.side-menu.open {
  @apply transform translate-x-0;
}

.menu-item {
  @apply block px-5 py-4 text-lg text-left border-gray-300 cursor-pointer text-lightMainText dark:text-darkMainText;
}

.menu-item:hover {
  @apply bg-lightHover dark:bg-darkHover;
}
/* End - Private User Profile Page Layout*/